:root {
  --jungle-green: #2a9d8f;
  --caribbean-green: #02c39a;
  --blue-dianne: #264653;
  --ebony-clay: #2b2d42;
  --burnt-sienna: #e76f51;
  --amber: #ffbe0b;
  --gallery: #eee;
  --gray: #888;
  --white: #fff;
}
